PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/virtual-chem-lab
JWT_SECRET=reaxorium_dev_secret
JWT_REFRESH_SECRET=reaxorium_dev_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GEMINI_API_KEY=
NEWS_API_KEY=
AUTO_BLOG_ENABLED=true
AUTO_BLOG_SCHEDULE=0 */6 * * *
AUTO_PUBLISH=false
